* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
body {
  margin: 0;
}

main {
  background-color: wheat;
  min-height: 100vh;
  position: relative;
}

/* --------------------------------------------------------------------------- */

#logo {
  width: 40px;
  height: 60px;
  background-color: azure;
  border-radius: 20px;
  padding: 5px;
}

nav {
  display: flex;
  flex-direction: row;
  width: 98.4%;
  height: 10vh;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(43, 43, 43);
  color: wheat;
  padding-left: 30px;
  height: 8vh;
}

.nav {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
  list-style: none;
  font-size: 20px;
}

.nav-link:hover {
  text-decoration: underline wavy 2px;
  text-underline-offset: 5px;
}
nav a {
  text-decoration: none;
  color: wheat;
}
nav .welcome {
  margin: 0;
}
nav .welcome:hover {
  cursor: default;
}

nav #logout-btn {
  border-style: none;
  background-color: #2b2b2b;
  color: wheat;
  font-size: 20px;
  cursor: pointer;
}

/* ------------------------------------------------------------------------------- */

footer {
  background-color: rgb(43, 43, 43);
  color: wheat;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

footer .contacts {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  margin-left: 10%;
}
footer .contacts h4 {
  margin-bottom: 0;
}
footer p {
  font-size: 40px;
}
footer .socials {
  font-size: 18px;
}
footer .socials h4 {
  margin-bottom: 10px;
}

footer .contacts {
  font-size: 18px;
}
footer .contacts h4 {
  margin-bottom: 0;
}

/* ------------------------------------------------------------------ */

.example-img {
  width: 260px;
  height: 260px;
  padding: 10px;
  background-color: azure;
}

.examples {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 50px;
}
.examples p {
  visibility: hidden;
  position: absolute;
  z-index: 1;
  top: 70%;
  left: 0%;
  transition-property: visibility;
  transition-delay: 0s;
}
#right-side-examples picture,
#left-side-examples picture:hover {
  position: relative;
}
#left-side-examples picture:hover p {
  visibility: visible;
  transition-delay: 0.7s;
  color: azure;
  font-size: 40px;
}
#right-side-examples picture:hover p {
  visibility: visible;
  transition-delay: 0.7s;
  color: azure;
  font-size: 30px;
}

#right-side-examples {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  gap: 20px;
}
#left-side-examples {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30%;
  align-items: center;
  margin-right: 22%;
  gap: 20px;
  height: 100vh;
}

#left-side-examples img {
  transform: rotate(-15.5deg);
}
#right-side-examples img {
  transform: rotate(15.5deg);
}

#left-side-examples img:hover,
#right-side-examples img:hover {
  transform: scale(1.3);
  transition: 0.7s;
  padding: 0;
}

#home-centre-column {
  background-color: rgb(43, 43, 43);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  color: azure;
  height: 70%;
}

#home-centre-column h2 {
  margin-top: 0;
}
#home-centre-column h1,
h2 {
  font-size: 60px;
}
#home-centre-column p {
  width: 69%;
  font-size: 25px;
  line-height: 40px;
  text-align: justify;
  letter-spacing: 1px;
}

#home-centre-column h1 {
  margin-top: 200px;
}

#home-centre {
  background-color: rgb(43, 43, 43);
  width: 600px;
  height: 100%;
  position: absolute;
  left: 33%;
  display: flex;
  justify-content: center;
}

/* -------------------------------------------------------------- */

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 30%;
  height: 100vh;
  width: 40%;
  background-color: #2b2b2b;
}
.about .about-article {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 74%;
  height: 100vh;
  color: azure;
  flex-shrink: 2;
  margin-top: -50px;
}
.about .about-article h1 {
  font-size: 66px;
  /* margin-bottom: 0; */
}
.about .about-article p {
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}

/* --------------------------------------------------------------------- */

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding-top: 50px;
  height: 70vh;
  color: #2b2b2b;
}

.login-form label {
  font-size: 30px;
}
.login-form input {
  height: 3vh;
  background-color: azure;
  width: 22%;
  border-style: none;
  color: #2b2b2b;
}
.login-form input:focus {
  border-style: solid;
  border-color: #2b2b2b;
  outline: #2b2b2b;
}

.login-form #login-btn {
  width: 10%;
  height: 5vh;
  border-style: none;
  border-radius: 10px;
  background-image: url("./images/btn-bg.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 80% 50%;
  background-color: azure;
}

.login-form #login-btn:hover {
  filter: brightness(90%);
}

#register-link {
  font-size: 30px;
  color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#register-link a {
  text-decoration: none;
  color: #2b2b2b;
}
#register-link a:visited {
  color: #2b2b2b;
}
#register-link a:hover {
  text-decoration: underline wavy 2px;
  text-underline-offset: 5px;
}

@media (max-width: 1600px) {
  .login-form #login-btn {
    background-image: none;
  }
}

/* --------------------------------------------------------------- */

.not-found {
  font-size: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  color: #2b2b2b;
}

/* --------------------------------------------------------- */

.register-form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 70vh;
  padding-top: 50px;
  color: #2b2b2b;
}

.register-form label {
  font-size: 30px;
}
.register-form input {
  height: 3vh;
  background-color: azure;
  width: 22%;
  border-style: none;
  color: #2b2b2b;
}
.register-form input:focus {
  border-style: solid;
  border-color: #2b2b2b;
  outline: #2b2b2b;
}

.register-form #register-btn {
  width: 10%;
  height: 5vh;
  border-style: none;
  border-radius: 10px;
  background-image: url("./images/btn-bg.png");
  background-repeat: no-repeat;
  background-size: 20px;
  background-position: 80% 50%;
  background-color: azure;
}

.register-form #register-btn:hover {
  filter: brightness(90%);
}

#login-link {
  font-size: 30px;
  color: #2b2b2b;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#login-link a {
  text-decoration: none;
  color: #2b2b2b;
}
#login-link a:visited {
  color: #2b2b2b;
}
#login-link a:hover {
  text-decoration: underline wavy 2px;
  text-underline-offset: 5px;
}

@media (max-width: 1600px) {
  .register-form #register-btn {
    background-image: none;
  }
}

/* ---------------------------------------------------------------- */

.cats-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 5vh;
  padding-top: 30px;
  padding-bottom: 30px;
}
.cat-card {
  width: 25vw;
  height: 40vh;
  padding: 20px;
  background-color: azure;
}

.cat-card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cat-card img {
  width: 100%;
  height: 90%;
}
.cat-card h3 {
  font-size: 25px;
  text-align: center;
  margin-top: 6px;
}

.cat-card #detail-link {
  border-style: none;
  border-radius: 10px;
  padding: 15px;
  background: linear-gradient(#2b2b2b, azure);
  font-size: 16px;
  text-decoration: none;
  color: #2b2b2b;
  
}
.cat-card #detail-link:hover {
  background: #2b2b2b;
  color: azure;
  transition: 0.3s;
  cursor: pointer;
}

/* --------------------------------------------------------------------- */

.details {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}
.details img {
  width: 40vw;
  height: 60vh;
  border-radius: 20px;
}

.cat-info {
  background-color: rgb(255, 255, 255);
  width: 40vw;
  height: 60vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cat-info h2 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 20px;
}
.cat-info #age,
#gender {
  font-size: 25px;
}

.cat-info #description {
  width: 80%;
  height: 22%;
  text-align: justify;
  font-size: 20px;
  word-wrap: normal;
}
.cat-info #contact-number {
  font-size: 20px;
}
.cat-info .details-btns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 35%;
  margin-top: 30px;
}

.cat-info .details-btns button {
  padding: 15px;
  border-style: dashed;
  background: transparent;
  border-color: #2b2b2b;
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
}

.cat-info .details-btns #remove-btn:hover {
  background-color: rgb(241, 28, 28);
  color: azure;
  border-style: solid;
  transition: 0.2s;
}

.cat-info .details-btns #edit-btn:hover {
  background-color: rgb(21, 230, 21);
  color: azure;
  border-style: solid;
  transition: 0.2s;
}
/* --------------------------------------------------------------------- */

.post-form {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 50px;
}
.post-form input,
textarea {
  background: transparent;
  border-style: solid #2b2b2b;
}

.post-form #cat-img {
  width: 40vw;
  height: 60vh;
  border-radius: 20px;
  background-color: azure;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.post-form #cat-img img {
  width: 40vw;
  height: 40vh;
  border-radius: 20px;
}
.post-form #cat-img input {
  margin-left: 10%;
}

.cat-info {
  background-color: azure;
  width: 40vw;
  height: 60vh;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.cat-info h2 {
  font-size: 60px;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 5%;
}
.cat-info h2 input {
  width: 100%;
}

.cat-info #age,
#gender {
  font-size: 25px;
}

.cat-info #description {
  width: 80%;
  height: 22%;
  text-align: justify;
  font-size: 20px;
  word-wrap: normal;
}

.cat-info #description textarea {
  width: 100%;
  height: 100%;
  text-align: justify;
  resize: none;
}

.cat-info #contact-number {
  font-size: 20px;
}

.cat-info #post-btn {
  padding: 15px;
  border-style: dashed;
  background: transparent;
  border-color: #2b2b2b;
  width: 100px;
  font-size: 15px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-top: 20px;
}

.cat-info #post-btn:hover {
  background-color: rgb(21, 230, 21);
  color: azure;
  border-style: solid;
  transition: 0.2s;
}

.cat-info input,
textarea {
  background-color: azure;
  border-style: dashed;
}

.cat-info input:focus {
  border-style: solid;
  border-color: #2b2b2b;
  outline: #2b2b2b;
}
.cat-info textarea:focus {
  border-style: solid;
  border-color: #2b2b2b;
  outline: #2b2b2b;
}

/* ----------------------------------------------------------------------- */

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #2b2b2b;
}
.profile-article {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile-article h1 {
  font-size: 45px;
}
.profile-article p {
  font-size: 25px;
  width: 70%;
}

.user-post-container {
  border-top: solid #2b2b2b 5px;
  width: 100%;
}

.user-post-list {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 5vh;
  padding-top: 5vh;
  list-style: none;
}
.user-post-list li {
  width: 25vw;
  height: 40vh;
  padding: 20px;
  background-color: azure;
}
